<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-9">
          <h1>Create new tournament</h1>
          <%= form_for @tournament do |f| %>
            <%= f.label :name %>
            <%= f.text_field :name %>
            <br />
            <%= f.label :extra_game_option %>
            <br />
            <ul>
              <% Tournament.extra_game_options.each_pair do |key, value| %>
                <li>
                  <%= f.radio_button :extra_game_option, value %>
                  <%= f.label :extra_game_option, key.capitalize.gsub!(/_(.)/, ' \1') %>
                </li>
              <% end %>
            </ul>
            <%= f.label :num_teams, "No. Teams" %>
            <%= f.select :num_teams, [[4, 4], [8, 8], [16, 16]] %>
            <%= f.label :seeded? %>
            <input type="checkbox" id="tournament_seeded" defaultChecked="false">
            <br />
            <ul id="team-name-ul">
              <%= render partial: "team_name" %>
              <%= render partial: "team_name" %>
              <%= render partial: "team_name" %>
              <%= render partial: "team_name" %>
            </ul>
            <%= f.submit %>
          <% end %>
        </div>
        <div style = "display: none;" id="team_name_template">
          <%= render partial: "team_name" %>
        </div>
      </div>
    </div>
  </body>
</html>